<launch>
  <arg name="map_size_x" value="90.0"/>
  <arg name="map_size_y" value="90.0"/>
  <arg name="map_size_z" value="5.0"/>

    <node pkg ="map_generator" name ="map_generator" type ="map_generator.py" output = "screen" respawn="true" >
      <param name="map/x_size" value="$(arg map_size_x)"/>
      <param name="map/y_size" value="$(arg map_size_y)"/>
      <param name="map/z_size" value="$(arg map_size_z)"/>
      <param name="map/resolution" value="5.0"/>

      <param name="map/add_floor" value="false"/>
      <param name="map/add_ceiling" value="false"/>

      <param name="sensing/rate" value="1.0"/>
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find map_generator)/rviz_config/template.rviz" required="true" />
</launch>