<launch>
  <arg name="drone_id"   default="0"/>
  <arg name="init_x"   default="0"/>
  <arg name="init_y"   default="0"/>
  <arg name="init_z"   default="5"/>
  <arg name="init_yaw" default="0"/>

  <include file="$(find quadrotor_simulator)/launch/run_simulator.launch">
    <arg name="drone_id" value="$(arg drone_id)" />
    <arg name="odom_topic" value="/car_$(arg drone_id)/odometry" />
    <!-- <arg name="cmd_topic" value="/car_$(arg drone_id)/command" /> -->
    <arg name="traj_topic" value="/car_$(arg drone_id)/trajectory" />
    <arg name="mesh_topic" value="/car_$(arg drone_id)/mesh" />

    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="$(arg init_y)"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="init_yaw" value="$(arg init_yaw)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find quadrotor_simulator)/config/visdrone.rviz" required="true" />
</launch>