<launch>
  <arg name="map_size_x" value="40"/>
  <arg name="map_size_y" value="40"/>
  <arg name="map_size_z" value="10"/>

  <arg name="sensor" value="laser"/>

  <arg name="odometry_topic" value="visual_slam/odom"/>

  <include file="$(find map_generator)/launch/mockamap.launch">
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="resolution" value="0.1"/>
  </include>
  <!-- <node pkg="map_generator" name="map_pub" type="map_pub" output="screen" args="$(find map_generator)/resource/cjx.pcd">    
  </node> -->
  <!-- <node pkg="map_generator" name="map_pub" type="map_pub" output="screen" args="$(find map_generator)/resource/house_1.pcd">    
  </node> -->
  <!-- <node pkg ="map_generator" name ="map_generator" type ="map_generator.py" output = "screen" respawn="true" >
    <param name="map/x_size" value="$(arg map_size_x)"/>
    <param name="map/y_size" value="$(arg map_size_y)"/>
    <param name="map/z_size" value="$(arg map_size_z)"/>
    <param name="map/resolution" value="0.1"/>

    <param name="map/add_floor" value="false"/>
    <param name="map/add_ceiling" value="false"/>

    <param name="sensing/rate" value="1.0"/>
  </node> -->

  <include file="$(find kinematics_simulator)/launch/run_simulator.launch">
    <arg name="car_id" value="0" />
    <arg name="car_scale" value="0.5"/>
    <arg name="odom_topic" value="/car_0/odometry" />
    <!-- <arg name="cmd_topic" value="/car_0/command" /> -->
    <arg name="traj_topic" value="/car_0/trajectory" />
    <arg name="mesh_topic" value="/car_0/mesh" />

    <arg name="init_x" value="0"/>
    <arg name="init_y" value="0"/>
    <arg name="init_yaw" value="0"/>
  </include>

  <include file="$(find quadrotor_simulator)/launch/run_simulator.launch">
    <arg name="drone_id" value="0" />
    <arg name="odom_topic" value="/drone_0/odometry" />
    <!-- <arg name="cmd_topic" value="/drone_0/command" /> -->
    <arg name="traj_topic" value="/drone_0/trajectory" />
    <arg name="mesh_topic" value="/drone_0/mesh" />

    <arg name="init_x" value="0"/>
    <arg name="init_y" value="0"/>
    <arg name="init_z" value="2"/>
    <arg name="init_yaw" value="0"/>
  </include>

   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find scenario)/rviz/rviz_sim.rviz"/>

</launch>