<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="robot_id" />
    <arg name="robot_type"/>
    <arg name="odom_topic" />

    <node pkg="camera_simulator" type="cam_sim_node" name="$(arg robot_type)_$(arg robot_id)_camera_simulator" output="screen">
        <rosparam command="load" file="$(find camera_simulator)/params/camera.yaml" />
        <param name="robot_type" value="$(arg robot_type)"/>
        <param name="robot_id" value="$(arg robot_id)" />
        <param name="map_topic" value="/map_generator/global_cloud"/>
        <param name="odom_topic" value="$(arg odom_topic)"/>
        <param name="cam_pose_topic" value="$(arg robot_type)_$(arg robot_id)_cam_pose"/>
        <param name="cam_depth_topic" value="$(arg robot_type)_$(arg robot_id)_cam_depth"/>
        <param name="cam_fov_topic" value="$(arg robot_type)_$(arg robot_id)_cam_fov"/>

        <param name="sensing_horizon"  value="5.0" />
        <param name="sensing_rate"     value="30.0"/>
        <param name="estimation_rate"  value="30.0"/>
  </node>
</launch>
